@model IEnumerable<Caps_Project.Models.Producto>

@{
    ViewData["Title"] = "Inventario | Inicio";
}

<div class="container pt-5">

	<h1>Inventario | Inicio</h1>

	<p class="pb-3 pt-3">
		<a asp-action="Create">Create New</a>
		<button type="button" class="btn btn-info btn-sm px-3">
			<i class="bi bi-x"></i>
			Registrar nuevo producto
		</button>
		<button type="button" class="btn btn-success btn-sm px-3">
			<i class="bi bi-x"></i>
			Ingreso a Inventario
		</button>
	</p>

	<div class="card shadow-2-strong" style="background-color: #f5f7fa;">
		<div class="card-body">
			<div class="table-responsive">
			
				<table class="table table-borderless mb-0">
					<thead>
						<tr>
							<th scope="col">
								@Html.DisplayNameFor(model => model.ProdName)
							</th>
							<th scope="col">
								@Html.DisplayNameFor(model => model.Stock)
							</th>
							<th scope="col">
								@Html.DisplayNameFor(model => model.Descripcion)
							</th>
							<th scope="col">
								@Html.DisplayNameFor(model => model.Activo)
							</t>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.ProdName)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Stock)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Descripcion)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Activo)
								</td>
								<td>
									<a asp-action="Edit" asp-route-id="@item.IdProducto">Edit</a> |
									@* <a asp-action="Details" asp-route-id="@item.IdProducto">Details</a> | *@
									<a asp-action="Delete" asp-route-id="@item.IdProducto">Delete</a> |
									<button type="button" class="btn btn-danger btn-sm px-3">
										<i class="bi bi-x"></i>
									</button>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>

<style>
    th {
        text-transform: uppercase;
    }
</style>
