@{
    //ViewData["Title"] = "_Layout_Proveedor";
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    var role = User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
    string nombre_completo_ = User.FindFirst("Nombre")?.Value;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Caps_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Caps_Project.styles.css" asp-append-version="true" />


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar-fixed-bottom navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavAuth" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    @* <span class="navbar-toggler-icon"></span> *@
                    <i class="bi bi-people-fill"></i>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Caps_Project</a>
               
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="NavActions">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if(role == "ADMINISTRADOR"){
							<li class="nav-item">
								<a class="nav-link text-dark " asp-controller="Inventario" asp-action="Index">
									Inventario
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark " asp-controller="EmpleadosUsers" asp-action="Index">
									Usuarios
								</a>
                            </li>
                        }
                        else if (role == "EMPLEADO")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark " asp-controller="Productos" asp-action="Index">
                                    Ordenes
                                </a>
                            </li>
                        }

                       

                       
                    </ul>
                </div>

                <div class="d-flex">
                    <ul class="navbar-nav navbar-collapse collapse  d-sm-inline-flex justify-content-between flex-grow-1" id="NavAuth">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Login" class="nav-link nav-link fs-5">Log in <i class="bi bi-box-arrow-in-right"></i></a></li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle  fs-5" href="#" id="ddMenu_Perfil" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person-circle"></i>
                                    @* @userId *@
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <div class="dropdown-item card-body fs-5">
                                            <i class="bi bi-person"></i>
                                            <label>@nombre_completo_</label>
                                        </div>
                                        <div class="dropdown-item fs-5">
                                            <i class="bi bi-person-vcard"></i>
                                            <label>@role</label>
                                        </div>

                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item fs-5">
                                <a class="nav-link " href="#" id="ddMenu_Notificaciones" role="button"> 
                                    <i class="bi bi-bell-fill"></i>
                                </a>
                            </li>

                            <li class="nav-item fs-5"><a asp-area="" asp-controller="Home" asp-action="LogOut" class="nav-link "><i class="bi bi-box-arrow-right"></i></a></li>
                        }
                    </ul>
                </div>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavActions" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>


    <div class="container_frame">
		<main role="main" >
				@RenderBody()
		</main>
    </div>

    <footer class="border-top text-muted d-flex flex-wrap justify-content-between align-items-center">
            <div class="container pt-3">
                <p>© @DateTime.Now.Year.ToString() - Caps_Project </p>
                @* <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
            </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>



    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

	<link rel="stylesheet" href="~/css/template.css" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



